@import './global.scss';
@import url('./inc/_header.scss');
@import url('./inc/_home.scss');
@import url('./inc/_work.scss');
@import url('./inc/_blog.scss');
@import url('./inc/_article.scss');
@import url('./inc/_footer.scss');